api/infonik/infonik_kece.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions name="InfonikKece"
				  xmlns:xs="info_nik"
				  targetNamespace="urn:InfonikTns"
				  xmlns:xts="http://developer.cognos.com/schemas/xts/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:s="http://www.w3.org/2001/XMLSchema"
				  xmlns:tns="urn:InfonikTns"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:InfonikTns">
      <s:element name="input_data">
        <s:complexType>
          <s:sequence>
      		<s:element name='nik' type='s:int' />
      	</s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="output_data">
        <s:complexType>
          <s:sequence>
      		<s:element name='nik' type='s:int' />
      		<s:element name='provinsi' type='s:string' />
      		<s:element name='kota_kabupaten' type='s:string' />
      		<s:element name='kecamatan' type='s:string' />
      		<s:element name='jenis_kelamin' type='s:string' />
      		<s:element name='tanggal_lahir' type='s:int' />
      		<s:element name='bulan_lahir' type='s:int' />
      		<s:element name='tahun_lahir' type='s:int' />
      		<s:element name='nomor_urut' type='s:string' />
      		<s:element name='pesan' type='s:string' />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

<wsdl:message name="input_data">
	<wsdl:part name="nik" element="tns:input_data"/>
</wsdl:message>

<wsdl:message name="output_data">
	<wsdl:part name="data_nik" element="tns:output_data"/>
</wsdl:message>

<wsdl:portType name="InfonikPortType">
	<wsdl:operation name="info_nik">
		<wsdl:input message="tns:input_data"/>
		<wsdl:output message="tns:output_data"/>
	</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="InfonikBindingSOAP" type="tns:InfonikPortType">

	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="info_nik">
			<soap:operation soapAction="" style="document"/>
				<wsdl:input>
					<soap:body use="literal" namespace="urn:InfonikInputNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal" namespace="urn:InfonikOutputNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</wsdl:output>
		</wsdl:operation>
		
</wsdl:binding>

<wsdl:binding name="InfonikBindingSOAP12" type="tns:InfonikPortType">

	<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="info_nik">
			<soap12:operation soapAction="" style="document"/>
				<wsdl:input>
					<soap12:body use="literal" namespace="urn:InfonikInputNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</wsdl:input>
				<wsdl:output>
					<soap12:body use="literal" namespace="urn:InfonikOutputNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</wsdl:output>
		</wsdl:operation>

</wsdl:binding>

<wsdl:service name="InfonikService">
	<wsdl:port name="InfonikPortSOAP" binding="tns:InfonikBindingSOAP">
		<soap:address location="http://localhost/api_infonik/infonik/infonik.php"/>
	</wsdl:port>
	<wsdl:port name="InfonikPortSOAP12" binding="tns:InfonikBindingSOAP12">
		<soap12:address location="http://localhost/api_infonik/infonik/infonik.php"/>
	</wsdl:port>
</wsdl:service>

</wsdl:definitions>

